.ContainerProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 100%;
    .projectPage{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 80vh;
      width: 80%;
      background-color: #2b2b2b;
      border: 1px solid white;
      border-radius: 25px;
      h1{
        color: white;
        font-size: 1.5rem;
        list-style: none;
        width: fit-content;
        padding: 5px 20px;
        margin-left: 20px;
        margin-bottom: 20px;
      }
      h2{
        color: white;
        font-size: 1rem;
        width: fit-content;
        margin-left: 10px;
      }
      p{
        color: white;
        font-size: 0.9rem;
        width: fit-content;
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        font-weight: lighter;
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: 20px;
        li{
          list-style: none;
          color: white;
        }
      }
      .links{
        margin: 10px 0;
        a{
          width: fit-content;
          background-color: #404040;
          color: white;
          text-decoration: none;
          border-radius: 15px;
          padding: 5px 10px;
          margin-left: 10px;
          transition: all 0.3s;
          &:hover{
            color: red;
            transform: scale(1.2);
          }
        }
      }
      .container-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30vh;
        gap: 20px;
        .img-bottom{
          width: 45%;
          height: 100%;
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 25px;
          }
        }
      }
    }
  }
  /*Media Queries Mobile*/
  @media only screen and (max-width: 775px) {
    .ContainerProjectPage{
  
      .projectPage{
          height: 100%;
          width: 95%;
          h1{
            color: white;
            font-size: 1.3rem;
            list-style: none;
            width: fit-content;
            padding: 5px 10px;
            margin-left: 20px;
            margin-bottom: 0;
          }
        .container-img{
          flex-direction: column;
          height: 45%;
          gap: 10px;
          .img-bottom {
            width: 95%;
            height: 47%;
          }
        }
      }
    }
  
  }