.home {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .infos__logo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1{
            color: white;
            font-size: 3rem;
        }
        p{
            color: white;
            font-size: 2.5rem;
        }
    }
    .home__social {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 40vh;
        width: 100%;
        .social {
          display: flex;
          flex-wrap: wrap;
          height: 50%;
          width: 100%;
          svg {
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
    }
}